html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom styling */

body {
    letter-spacing: 1px;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed !important;
    background-color: #3E3C3C;
    color: #FFFFFF;
    z-index: 2;
    width: 100%;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-container h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 20px;
    padding: 2% 3%;
    margin-left: 8%;
}

.nav-ul-container {
    display: flex;
    align-items: center;
}

#email-icon img {
    width: 12%;
    margin-right: 60px;
}

.nav-ul-container li {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    padding: 20px 20px;
}

.top-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(100vh - 48px);
    background-color: #1C1A19;
    /*  */
    width: 100%;
    padding-top: 5%;

}

.top-content-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1.7rem;
    flex-grow: 1;
}

.hey-there {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    padding-left: 4.5rem;
    /* width: 566px; */
}

.corner-img {
    flex-grow: 5;
    background-image: url('images/Illustration-header-nd.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    /* background-position: top right; */
    height: 100%;
    width: 31%;

}

.hey-there h1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 113%;
    color: #F55800;
    margin-bottom: 12px;
}

.hey-there h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 44px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.hey-there p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #F4F5F7;
}


.my-recent-work {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 132px 0;
}

.recent-work-content {
    display: flex;
    align-items: center;
    flex-grow: 8;

}

.my-recent-work h2 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    width: 30%;
    float: left;
}

hr {
    width: 60%;
}

.multi-post-stories {
    display: flex;
    justify-content: start;
    padding-left: 8%;
}

.multi-post-stories img {
    width: 684px;
    padding-right: 24px;
}

.multi-post-stories h1 {
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091E42;
}

.multi-post-stories p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding: 24px 0;
    color: #091E42;
    width: 80%;
}

.container-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 327px;
    margin-top: 12px;
}

.container-list li {
    border: 1px solid #8993a4;
    padding: 10px 12px;
    text-align: center;
}

.multi-post-stories button {
    padding: 12pxpx;
    margin-top: 24px;
    width: 124px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background: #ff6b00;
    color: aliceblue;
    border: none;
}

.multi-post-stories button:hover {
    border: 1px solid #ff6b00;
    background-color: #fbbd90;
    color: #F55800;
}

.project-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 90.5%;
    margin-left: 8%;
    margin-top: 24px;
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* padding-bottom:5%; */
    background-image: url('images/bg-img.png');
    height: 435px;
}

.project h2 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin: 84px 0 12px 16px;
}

.project p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 16px;
    color: #fff;
}

.project ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    gap: 12px;
    width: 236px;
    height: 40px;
}

.project ul li {
    background: rgba(255, 255, 255, 0.24);
    padding: 10px 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.first-project {
    background-image: url('images/MaskGroupIMG.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 5%;


}

.project button {
    width: 100%;
    height: 48px;
    background: #ff6b00;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    border: none;
    /* margin-top: 22px; */
}

.first-project~.project {
    padding-bottom: 5%;
}

.card2 {
    background-image: url('images/grid-img-.png');
}

.card3 {
    background-image: url('images/grid-img2.png');
}

.about-me {
    display: flex;
    flex-direction: column;
    padding: 130px 9% 0 9%;
    gap: 12px;
    background-color: #262626;
    margin-top: 130px;
}

.crnr-img {
    position: relative;
    right: 0;
    left: 54%;
    top: -210px;
}

.about-me hr {
    width: 100%;
}

.about-me h1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    letter-spacing: 0.3700000047683716px;
    text-align: left;
    color: #F55800;
}

.about-me p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding-top: 12px;
    color: #fff;
    width: 566px;
}

.see-project-btn {
    padding: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background: #F55800;
    color: aliceblue;
    border: none;
    float: left;
    margin-top: 24px;
}


.about-me-buttom h1 {
    font-family: 'InaiMathi', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    justify-content: center;
    color: #fff;
    /* margin-top: 131.73px; */
}

.about-me-buttom img {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    margin-top: 10px;
}

.list-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 124px 0 124px 0;
}

.about-me-buttom ul li {
    padding: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
}

.buttom-h1 {
    margin-top: 0;
}

.buttom h1 {
    margin: 0 !important;
}

.buttom ul {
    margin: 0 !important;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 24px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-left: 10%;
}
.contact-form-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-form-bottom ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-form h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    width: 455px;
}

.contact-form input[type="text"], .contact-form input[type="email"]  {
    margin: 73px 20px 39px 0;
    border: none;
    border-bottom: 1px solid #979493 !important;
    width: 40%;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
}

.contact-form textarea {
    background-color: #fbf8f7;
    padding: 12px;
    width: 90%;
    color: gray;
    border: none;
}

.contact-form button {
    align-items: center;
    padding: 12px;
    gap: 10px;
    background: #F55800;
    width: 131px;
    height: 48px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    margin: 36px auto 0 auto;
}

.contact-form-bottom hr {
    margin-top: 124px;
    width: 100% !important;
}
.contact-form-bottom img{
    width: 40px;
}
.contact-form ul {
    color: #091e42;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
body{
    padding-bottom: 0 !important;
}

/* Form validation code by Imran */

input[type=text]:invalid:focus,
input[type=email]:invalid:focus {
    background-color: pink;
    border: 1px solid red;
    outline: none;
}

input[type=text]:valid:focus,
input[type=email]:valid:focus {
    background-color: white;
    border: 1px solid green;
}

.contact-form button:hover {
    background-color: lightsalmon;
}

.contact-form button:active {
    background-color: red;
}